<div class="page">
  <p>Redirecting...</p>
</div>

<%= content_for(:scripts) do %>
  <%= javascript_tag do %>
    localStorage.setItem("pseudocms.authtoken", <%= auth_token.to_json.html_safe %>);
    Turbolinks.visit(<%= admin_root_path.to_json.html_safe %>);
  <% end %>
<% end %>
