<div class="page">
  <%= react do %>
    <Card className="card--login">
      <CardHeader><h1>Login Page</h1></CardHeader>
      <CardContent>
        <p>Login Form Here</p>
      </CardContent>
    </Card>
  <% end %>
</div>
