<div class="page">
  <%= react do %>
    <Card className="card--login">
      <CardHeader>
        <Heading icon="fa-lock" text="Please Login" />
      </CardHeader>
      <CardContent>
        <p>Login Form Here</p>
      </CardContent>
    </Card>
  <% end %>
</div>
