<div class="page">
  <%= react do %>
    <Card className="card--login">
      <CardHeader>
        <Heading icon="fa-lock" text="Please Login" />
      </CardHeader>
      <CardContent className="form">
        <FormField label="Email:" type="email" name="email" className="required" />
        <FormField label="Password:" type="password" name="password" className="required" />
        <div className="form__field form__field--actions">
          <button className="btn">Login</button>
        </div>
      </CardContent>
    </Card>
  <% end %>
</div>
