<div class="page">
  <%= react do %>
    <Card className="card--login">
      <CardHeader>
        <Heading icon="fa-lock" text="Please Login" />
      </CardHeader>
      <CardContent className="form">
        <FormField label="Email:" type="email" name="email" className="required" />
        <FormField label="Password:" type="password" name="password" className="required" />
      </CardContent>
      <CardFooter className="tr">
        <input type="submit" className="btn" value="Login Now" />
      </CardFooter>
    </Card>
  <% end %>
</div>
