<div class="grid">
  <div class="grid__cell">
    <div class="card">
      <div class="card__header">
        <h1 class="heading"><i class="fa fa-rss"></i>Recent Activity</h1>
      </div>
      <div class="card__content">
        <% 1.upto(30) do %>
          <p>Some Item</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="grid__cell grid__cell--quarter">
    <div class="grid grid--column">
      <div class="grid__cell">
        <div class="card">
          <div class="card__header">
            <h1 class="heading"><i class="fa fa-th"></i>Favourites</h1>
          </div>
          <div class="card__content">
            <p>Your Sites Here</p>
          </div>
        </div>
      </div>
      <div class="grid__cell">
        <div class="card">
          <div class="card__header">
            <h1 class="heading"><i class="fa fa-rss"></i>Sites</h1>
          </div>
          <div class="card__content">
            <p>Your Sites Here</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
