table {
  width: 100%;
}

th {
  text-align: left;
  padding: em(8) em(10);
  font-weight: 500;
  border-bottom: 1px solid #ECECEC;
}

td {
  padding: em(6) em(10);
  border-bottom: 1px solid #ECECEC;
}
