//= require normalize
//= require font-awesome

@import "bourbon";
@import "variables";
@import "mixins";

html, body {
  background-color: $siteBackgroundColor;
  box-sizing: border-box;
  font-family: $helvetica;
  color: #333;
}

a {
  color: $linkColor;
}

.tl { text-align: left; }
.tr { text-align: right; }

@import "layout/grid";
@import "layout/main-navigation";
@import "layout/page";

@import "components/navigation";
@import "components/card";
@import "components/btn";
@import "components/form";
@import "components/box";
@import "components/heading";
@import "components/tooltip";
@import "components/table";
