//= require normalize

@import "bourbon";
@import "variables";
@import "mixins";

html, body {
  background-color: $siteBackgroundColor;
  box-sizing: border-box;
  font-family: $helvetica;
  color: #333;
}

.container {
  display: table;
  width: em(980);
  margin: 0 auto;
  padding: 0 em(10);
}
