//= require normalize
//= require font-awesome

@import "bourbon";
@import "variables";
@import "mixins";

body {
  background-color: $siteBackgroundColor;
  box-sizing: border-box;
  font-family: $helvetica;
  color: #333;
}

.container {
  display: table;
  width: em(980);
  margin: 0 auto;
  padding: 0 em(10);
}

@import "layout/header";

@import "modules/btn";
@import "modules/card";
@import "modules/form";
@import "modules/heading";
@import "modules/link_list";
