<h1>
  Sites
</h1>

<%= react do %>
  <Card>
    <CardContent>
      <SiteList />
    </CardContent>
    <CardFooter className="tr">
      <a className="btn">Prev</a>
      <a className="btn">Next</a>
    </CardFooter>
  </Card>
<% end %>
